<nav class="navbar btn btn-info justify-content-center">
    
      <button class="btn btn-success" type="button">Home</button>
      <button class="btn btn-success" type="button">About P1</button>
      <button class="btn btn-success" type="button">Lesson PACKS</button>
      <button class="btn btn-success" type="button">LEARN IN STYLE</button>
      <button class="btn btn-success" type="button">CONTACT</button>
      <button class="btn btn-success" type="button">TERM & CONDITIONS</button>

  </nav>