<nav class="navbar navbar-light bg-light justify-content-center">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button">Home</button>
      <button class="btn btn-outline-success" type="button">About P1</button>
      <button class="btn btn-outline-success" type="button">Lesson PACKS</button>
      <button class="btn btn-outline-success" type="button">LEARN IN STYLE</button>
      <button class="btn btn-outline-success" type="button">CONTACT</button>
      <button class="btn btn-outline-success" type="button">TERM & CONDITIONS</button>
    </form>
  </nav>